<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Neuromer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link href="./base.html" rel="stylesheet" />
  </head>
  <body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(39,81,163);">
        <div class="container-fluid ">
          <a class="navbar-brand text-light" href="#">Neuromer</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Ongoing research</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Publication</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Committees
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">1st comittee</a></li>
                  <li><a class="dropdown-item" href="#">2nd comittee</a></li>
                  <li><a class="dropdown-item" href="#">3rd comittee</a></li>
                  <li><a class="dropdown-item" href="#">4th comittee</a></li>
                  <li><a class="dropdown-item" href="#">5th comittee</a></li>
                  <li><a class="dropdown-item" href="#">6th comittee</a></li>
                  <li><a class="dropdown-item" href="#">7th comittee</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    EN
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">EN</a></li>
                    <li><a class="dropdown-item" href="#">TR</a></li>
                    <li><a class="dropdown-item" href="#">AZ</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <!--End Navbar-->

    <div class="container">
      <!--About us-->
      <div class="text-center">
        <h2 style="font-family: 'Lora'; margin: 40px; font-weight: bold;">About us</h2>
      </div>
      <div class="row">
        <div class="col">
          <p align="justify" style="font-family: 'Poppins';" class="mx-auto">
            <span style="font-weight: bold;">NEUROMER</span> is a dynamic organization founded by medical students and comprised of neurology and neurosurgery experts. 
            Our mission is to bring together medical students from all over the world, providing them with opportunities to expand their knowledge 
            and experience in the fields of neurology and neurosurgery. 
            Through collaboration with professionals, we aim to drive positive change and advancements in neurological care.
          </p>
          <div class="btn btn-primary text-center mx-auto" style="padding: 8px 25px">Join Us</div>
        </div>
        <div class="col">
          <img
            src="../static/aboutUs/aboutUs_1.png"
            style="width: 80%; border-radius: 25px; margin-left: 100px;"
          />
        </div>
      </div>
      <!--End About us-->

      <!--Advantages-->
      <div class="advantages">
        <div class="text-center">
          <h2 style="font-family: 'Lora'; margin: 40px; font-weight: bold;">Advantages</h2>
        </div>
        <div class="row" style="margin-bottom: 55px;">
          <div class="col-6" style="font-family: 'Poppins';">
            <h3 style="font-weight: bold; margin-bottom: 25px; font-family: 'Lora';"><i>For members</i></h3>
            <ul style="align-items: center;">
              <li style="margin-bottom: 15px;">
                <strong>Networking Opportunities:</strong> Connect with leading experts and professionals in the fields of neurology and neurosurgery, expanding your professional network.
              </li>
              <li style="margin-bottom: 15px;">
                <strong>Exclusive Seminars and Workshops:</strong> Gain access to specialized seminars and workshops designed to enhance your knowledge and skills.
              </li>
              <li style="margin-bottom: 15px;">
                <strong>Research and Publication Support:</strong> Collaborate on research initiatives and get opportunities to contribute to publications in the field.
              </li>
              <li style="margin-bottom: 15px;">
                <strong>Mentorship</strong> Receive guidance and mentorship from experienced professionals to help shape your career path.
              </li>              
            </ul>
          </div>
          <div class="col-6">
            <img
              src="../static/aboutUs/aboutUs_6.png"
              style="width: 80%; border-radius: 25px; margin-left: 100px;"
            />
          </div>
        </div>
        <div class="row" style="margin-bottom: 55px";>
          <div class="col-6">
            <img
              src="../static/aboutUs/aboutUs_7.png"
              style="width: 80%; border-radius: 25px;"
            />
          </div>
          <div class="col-6" style="font-family: 'Poppins';">
            <h3 style="font-weight: bold; margin-bottom: 25px; font-family: 'Lora';"><i>For community</i></h3>
            <ul style="align-items: center;">
              <li style="margin-bottom: 15px;">
                <strong>Public Awareness Initiatives:</strong> Participate in events and campaigns that raise awareness about neurological disorders and their impact on society.
              </li>
              <li style="margin-bottom: 15px;">
                <strong>Educational Outreach:</strong> Contribute to educational programs aimed at promoting neurological health and well-being.
              </li>
              <li style="margin-bottom: 15px;">
                <strong>Supporting Research:</strong> By being part of NEUROMER, you contribute to advancements in neurology and neurosurgery research that benefit patients globally.
              </li>
              <li style="margin-bottom: 15px;">
                <strong>Advocacy</strong> Take part in initiatives that advocate for improved neurological care and better resources for patients.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--End Advantages-->


      <!--Our story-->
      <div class="text-center">
        <h2 style="font-family: 'Lora'; margin: 40px; font-weight: bold;">Who are we?</h2>
      </div>

      <div class="row">
        <div class="col-6">
          <h3 style="font-weight: bold; margin-top:200px; font-family: 'Lora';">Our story...</h3>
          <p align="justify" style="font-family: 'Poppins'; margin-top: 20px;">
            <span style="font-weight: bold;">NEUROMER</span>'s journey began with a shared passion among a group of medical students for neurology and neurosurgery. 
            Founded by visionary minds, our organization has grown into a dynamic hub for students worldwide. 
            Our story is one of collaboration, dedication, and a relentless pursuit of progress in the fields of neurology and neurosurgery. 
            With each member who joins us, our story gains a new chapter, filled with achievements, innovations, and the promise of a brighter future for neurological care.
          </p>
        </div>
        <div class="col-3">
          <img src="../static/aboutUs/aboutUs_8.png" style="width: 100%;"/>
          <img src="../static/aboutUs/aboutUs_9.png" style="width: 100%;"/>
        </div>
        <div class="col-3" style="margin-top: 150px;">
          <img src="../static/aboutUs/aboutUs_10.png" style="width: 100%;"/>
        </div>
      </div>
      <!--End our story-->

      <!--Accordion-->
      <div class="text-center">
        <h2 style="font-family: 'Lora'; margin: 40px; font-weight: bold;">Frequently asked Q&A</h2>
      </div>

      <div class="accordion" id="accordionExample" style="width: 70%; margin: 15px auto 120px auto;">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <strong> Who can join NEUROMER? </strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>NEUROMER</strong> warmly welcomes medical students from all corners of the globe, regardless of their geographical location.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <strong>How can I join NEUROMER? </strong>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              To join <strong> NEUROMER </strong>, simply fill out the <strong>"Join Us" </strong>form on our website or social media pages.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <strong>What advantages do NEUROMER members have? </strong>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>NEUROMER</strong> members enjoy networking opportunities, exclusive seminars, research collaboration, mentorship, and the chance to contribute to positive change in neurology and neurosurgery.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <strong>How can I get involved in NEUROMER's research initiatives? </strong>
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>NEUROMER</strong> offers Neurological and Neurosurgical Research Committees for members interested in contributing to research projects and innovative solutions in these fields.
            </div>
          </div>
        </div>
        <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <strong>How can I stay updated on NEUROMER's events and activities?</strong>
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        You can stay informed about <strong> NEUROMER</strong>'s upcoming events, conferences, and activities by following our official social media channels and regularly visiting our website. We ensure that our members and the wider community are well-informed about the latest happenings in the fields of neurology and neurosurgery.
      </div>
    </div>
        </div>
      </div>
      <!--End Accordion-->
    </div>

    <!-- Footer -->
    <footer>
      <!-- Subscribe section --> 
      <div class="bg-light">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <form action="">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-auto mb-4 mb-md-0">
              <p class="pt-2">
                <strong>Subscribe to our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-12 mb-4 mb-md-0">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form5Example25" class="form-control" placeholder="Email address"/>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto mb-4 mb-md-0">
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary mb-4">
                Submit
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </div>
      <!-- Grid container -->
    </div>
      <div class="text-center text-lg-start text-light" style="background-color: rgb(39,81,163);">
        <!-- Left -->
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <img src="../static/mainlogo.png" alt="">
                
              </h6>
              <p>
                International organization dedicated to connecting medical students and professionals interested in neurosurgery and neurology
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Company
              </h6>
              <p>
                <a href="#!" class="text-reset">About us</a>
              </p>
              <p>
                <a href="#!" class="text-reset">News</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Ongoing research</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Publication</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Committees
              </h6>
              <p>
                <a href="#!" class="text-reset">1st committee</a>
              </p>
              <p>
                <a href="#!" class="text-reset">2nd committee</a>
              </p>
              <p>
                <a href="#!" class="text-reset">3rd committee</a>
              </p>
              <p>
                <a href="#!" class="text-reset">4th committee</a>
              </p>
              <p>
                <a href="#!" class="text-reset">5th committee</a>
              </p>
              <p>
                <a href="#!" class="text-reset">6th committee</a>
              </p>
              <p>
                <a href="#!" class="text-reset">7th committee</a>
              </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
              <p>
                <i class="fas fa-envelope me-3 text-secondary"></i>
                info@example.com
              </p>
              <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2023 All rights reserved.
        <a class="text-reset fw-bold" href="">Neuromer.</a>
      </div>
    </div>

      <!-- Copyright -->
    </footer>
    <!-- End Footer -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>

  </body>
</html>
