<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neuromer-Committee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/scroll-2.jpg" class="d-block w-100" alt="..." style="height: 600px;">
                <div class="carousel-caption d-none d-md-block">
                <h4>Committee name goes here</h4>
                </div>
            </div>
        </div>
        <br><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In viverra condimentum est sed auctor. Nunc ut sollicitudin ante, eu blandit leo. Praesent ante odio, commodo et imperdiet sit amet, scelerisque laoreet ex. Integer velit magna, ultrices ut finibus vitae, tincidunt et felis. Morbi volutpat efficitur sagittis. Pellentesque efficitur eros ut nisl mattis luctus. Suspendisse tincidunt gravida lorem, nec mollis lectus accumsan vel.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean rutrum accumsan risus. Curabitur laoreet tempus lacus, in euismod felis aliquet at. Curabitur at dui ornare, vestibulum metus sit amet, aliquet metus. Praesent lacinia nisl vel lectus auctor, in consectetur urna sollicitudin. Mauris gravida diam in semper semper. Nunc iaculis diam metus, eget egestas dolor congue et. Praesent ipsum urna, vehicula et felis vel, convallis facilisis odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus porta, lobortis ante euismod, dapibus mi.</p>
        <p>Suspendisse feugiat fermentum velit quis ullamcorper. Donec eu est facilisis, tempor quam vitae, porta enim. Nulla commodo odio orci, id viverra libero blandit non. Curabitur consectetur, enim vitae auctor feugiat, nibh libero interdum est, a pulvinar nibh ipsum ut urna. In ac arcu felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse nec sem accumsan, commodo neque nec, congue ipsum. Sed ullamcorper, tellus ac feugiat fermentum, nunc ex maximus magna, et iaculis nunc leo non mauris. Vestibulum condimentum dui turpis, eu semper metus ultrices vitae. Ut consequat lobortis mi a hendrerit.</p>
        <p>Duis laoreet justo non ligula vestibulum cursus. Integer et justo maximus, maximus metus vitae, consequat eros. Phasellus feugiat dui at nulla vestibulum porta. Vivamus ultrices quis erat sit amet lacinia. Pellentesque lectus orci, hendrerit sit amet massa sed, euismod feugiat mi. Mauris interdum nulla id felis tincidunt, id tempor turpis scelerisque. Vestibulum non erat sit amet lorem rhoncus hendrerit. Nam lectus risus, placerat sit amet sagittis sit amet, accumsan non nisl. Morbi sed tempus urna. Donec eu mi vel sapien congue pharetra at eget ligula. Integer tortor sem, consectetur faucibus faucibus vel, feugiat a odio.</p>
        <p>Quisque hendrerit ipsum sit amet ante fermentum, eget laoreet justo tincidunt. Mauris molestie tortor ac tortor venenatis aliquet. Maecenas semper lobortis pharetra. Mauris vel mauris et sapien tristique dignissim. Maecenas vestibulum porttitor sapien, sed pretium mi consectetur eget. Maecenas posuere, elit eu lobortis mattis, est lacus pellentesque nibh, ac imperdiet ligula arcu quis risus. Praesent in consectetur metus. Vestibulum feugiat mi risus, eu vestibulum purus ultricies a. Cras laoreet, magna vitae faucibus faucibus, eros metus interdum tellus, nec tempus mauris nisi at tortor.</p>
        <br>
        <div class="d-flex justify-content-center overflow-auto">
            <div class="card" style="margin-right: 20px;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                  </a>
                </div>
              
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
              
              
                </div>
              </div>
              <div class="card" style="margin-right: 20px;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                  </a>
                </div>
              
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
              
              
                </div>
              </div>
              <div class="card" style="margin-right: 20px;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                  </a>
                </div>
              
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
              
              
                </div>
              </div>
              <div class="card" style="margin-right: 20px;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                  </a>
                </div>
              
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
              
              
                </div>
              </div>
          </div>
          <br><br><br>
          <p>Are you still not a member of our committee?</p>
          <button type="button" class="btn btn-primary">Join</button>

    </div>
</body>
</html>