<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neuromer-Ongoing Research</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>

<body>
    <div class="carousel-inner">
        <div class="carousel-item active"style="height: 400px;">
            <img src="../static/images/ongoingslide.png" class="d-block w-100" alt="..." style="object-fit: cover; opacity: 0.9;">
            <div class="carousel-caption d-none d-md-block">
                <h4>Committee name goes here</h4>
                <p>Some description goes here</p>
            </div>
        </div>
    </div>
    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col-6 p-3">
                <img src="../static/images/multiple-sclerosis.jpg" alt="" style="height: 400px;">
            </div>
            <div class="col-6">
                <br>
                <h3>Multiple Sclerosis Research </h3>
                <br>
                <p>The Multiple Sclerosis Research Team, the branch of the Neuromer Research Team, will bring together undergraduate, graduate and doctorate students to conduct scientific research on ...</p>
                <button type="button" class="btn btn-primary">Read more</button>

            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-6">
                <br>
                <h3>Lorem ipsum</h3>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa velit, malesuada turpis nunc, vel.
                    Viverra mauris viverra turpis massa elementum adipiscing pharetra. Turpis sit nisl mauris, a, purus
                    suscipit.</p>
                <button type="button" class="btn btn-primary">Read more</button>

            </div>
            <div class="col-6 p-3">
                <img src="../static/images/oic.png" alt="" style="height: 400px;">
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-6 p-3">
                <img src="../static/images/oic.png" alt="" style="height: 400px;">
            </div>
            <div class="col-6">
                <br>
                <h3>Lorem ipsum</h3>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa velit, malesuada turpis nunc, vel.
                    Viverra mauris viverra turpis massa elementum adipiscing pharetra. Turpis sit nisl mauris, a, purus
                    suscipit.</p>
                <button type="button" class="btn btn-primary">Read more</button>

            </div>
        </div>
    </div>

</body>

</html>