<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Publications</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link 
        href='https://fonts.googleapis.com/css?family=Libre Franklin' 
        rel='stylesheet'
    />

    <style>
      body {
        font-family: 'Libre Franklin';
      }

      .card-title {
        font-weight: bold;
      }
    </style>
  </head>
  <body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(39,81,163);">
        <div class="container-fluid ">
          <a class="navbar-brand text-light" href="#">Neuromer</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Ongoing research</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Publication</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Committees
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">1st comittee</a></li>
                  <li><a class="dropdown-item" href="#">2nd comittee</a></li>
                  <li><a class="dropdown-item" href="#">3rd comittee</a></li>
                  <li><a class="dropdown-item" href="#">4th comittee</a></li>
                  <li><a class="dropdown-item" href="#">5th comittee</a></li>
                  <li><a class="dropdown-item" href="#">6th comittee</a></li>
                  <li><a class="dropdown-item" href="#">7th comittee</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    EN
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">EN</a></li>
                    <li><a class="dropdown-item" href="#">TR</a></li>
                    <li><a class="dropdown-item" href="#">AZ</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    

    
    <div class="container">

      <!--Main publ-->
      <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
        <div class="col-6">
          <img src="../static/publication/publication_1.png" width="100%"/>
        </div>
        <div class="col-6">
          <h6 style="color: rgba(196, 196, 196, 1);"><i>10.08.2023</i></h6>
          <h3 style="margin-top: 20px;font-weight: bold;">Miraculous Reattachment: Surgeons<br> Successfully Restore Young Boy's Head<br> After Internal Decapitation Accident</h3>
          <p style="margin-top: 40px; color:rgba(128, 128, 128, 1);width: 80%;" align="justify">
            In a medical triumph that has captured the world's attention on  14 July 2023 , 
            a team of skilled surgeons at the Hadassah Medical Centre in Israel achieved 
            the extraordinary feat of reattaching the head of a 12-year-old boy 
            who suffered from an "internal decapitation" caused by a serious accident.
            The incident, which took place in the West Bank, involved the boy, 
            Suleiman Hassan, being hit by a car while riding his bicycle, 
            resulting in a bilateral atlanto ... 
          </p>
        </div>
      </div>
      
      <!--Cards 1st row-->
      <div class="row" style="margin-bottom: 25px;">
        <div class="col">
          <div class="card h-100">
            <img
              src="../static/publication/publication_1.png"
              class="card-img-top"
              alt="Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title">Miraculous Reattachment: Surgeons
                Successfully Restore Young Boy's Head
                After Internal Decapitation Accident</h5>
              <p class="card-text">
                In a medical triumph that has captured the world's 
                attention on  14 July 2023 , 
                a team of skilled surgeons at the Hadassah Medical Centre...
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">10.08.2023</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            
            <img
              src="../static/publication/publication_2.jpg"
              class="card-img-top"
              alt="Los Angeles Skyscrapers"
              style="object-fit: cover;"
            />
            
            <div class="card-body">
              <h5 class="card-title">Movement disorders : a look into the various ways the brain loses its control over the body</h5>
              <p class="card-text">
                We all know what it feels like for our limbs to have a seemingly “mind” of their own: 
                when we ride a bike or play a musical instrument...
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">07.08.2023</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="../static/publication/publication_3.jpg"
              class="card-img-top"
              alt="Palm Springs Road"
            />
            <div class="card-body">
              <h5 class="card-title"> OCT: Revolutionizing Multiple Sclerosis Diagnosis</h5>
              <p class="card-text">
                Multiple sclerosis (MS) is an autoimmune disease where the immune system mistakenly 
                attacks the protective covering of nerve fibers in the central nervous system. 
                It is characterized by the loss or damage to the myelin sheath, which is...
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">06.08.2023</small>
            </div>
          </div>
        </div>
      </div>
    
      <!--Cards 2nd row-->
      <div class="row" style="margin-bottom: 25px;">
        <div class="col">
          <div class="card h-100">
            <img
              src="../static/publication/publication_4"
              class="card-img-top"
              alt="Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title">An Ode to Forgotten Memories: Illuminating Dementia’s Veil</h5>
              <p class="card-text">
                It is rightly said, ‘At the end of the day, we’re all just walking each other home.’ 
                Here’s a short poem about dementia, a significant disease that 
                all neurologists encounter on a daily or weekly basis. 
                Dementia is defined as a neurocognitive decline...
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">03.08.2023</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="../static/publication/publication_5.png"
              class="card-img-top"
              alt="Los Angeles Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title">More than just a cramp: dystonia </h5>
              <p class="card-text">
                Have you ever experienced a leg cramp after a strenuous workout? 
                Maybe toe cramps during swimming? Most likely, you answered with yes 
                and hence have felt that so called “painful pulling” sensation...
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">17.07.2023</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
          
            <img
              src="../static/publication/publication_6.webp"
              class="card-img-top"
              alt="Palm Springs Road"
            />
            <div class="card-body">
              <h5 class="card-title">Deep Brain Stimulation: A Game Changer in Parkinson's Disease Treatment</h5>
              <p class="card-text">
                A 74-year-old male named Mr. Allister who has been living with Parkinson’s disease since the past 7 years 
                presents to the Neurology clinic complaining how the disease had impacted his living. He has been...
              </p>
            </div>
            
            <div class="card-footer">
              <small class="text-muted">15.07.2023</small>
            </div>
          </div>
        </div>
      </div>

      <!--Cards 3rd row-->
      <div class="row" style="margin-bottom: 50px;">
        <div class="col">
          <div class="card h-100">
            <img
              src="../static/publication/publication_7.jpg"
              class="card-img-top"
              alt="Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title">Neuralink: Pioneering Potential in the Treatment of Alzheimer's Disease</h5>
              <p class="card-text">
                In a recent huge achievement on June 9, 2023, Neuralink, co-founded by Elon Musk, 
                has received FDA approval for human trials involving the implantation of brain chips...
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">13.07.2023</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="../static/publication/publication_8.webp"
              class="card-img-top"
              alt="Los Angeles Skyscrapers"
            />
            <div class="card-body">
              <h5 class="card-title">Alice's Magical Mind: The Wonderland of Perceptions</h5>
              <p class="card-text">
                In 1907, the great British neurologist William Gowers reported epilepsy patients 
                who perceived objects to look “twice their size” during the aura preceding their seizures...
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">12.07.2023</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="../static/publication/publication_9.jpg"
              class="card-img-top"
              alt="Palm Springs Road"
            />
            <div class="card-body">
              <h5 class="card-title">Saint Vitus's Dance Chorea</h5>
              <p class="card-text">
                We tend to associate dance with art and celebrations, 
                as it consists of flowing movements portraying one's - generally positive- emotions, 
                yet this latin word we find among the symptoms of many neurological and metabolic diseases...
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">10.07.2023</small>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!--Footer-->
    <footer>
    <!-- Subscribe section --> 
    <div class="bg-light">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <form action="">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-auto mb-4 mb-md-0">
            <p class="pt-2">
                <strong>Subscribe to our newsletter</strong>
            </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-12 mb-4 mb-md-0">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="form5Example25" class="form-control" placeholder="Email address"/>
            </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto mb-4 mb-md-0">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-4">
                Submit
            </button>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
        </form>
    </div>
    <!-- Grid container -->
    </div>
    <div class="text-center text-lg-start text-light" style="background-color: rgb(39,81,163);">
        <!-- Left -->
        <!-- Left -->

        <!-- Right -->
        <div>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-github"></i>
        </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
                <img src="../static/mainlogo.png" alt="">
                
            </h6>
            <p>
                International organization dedicated to connecting medical students and professionals interested in neurosurgery and neurology
            </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Company
            </h6>
            <p>
                <a href="#!" class="text-reset">About us</a>
            </p>
            <p>
                <a href="#!" class="text-reset">News</a>
            </p>
            <p>
                <a href="#!" class="text-reset">Ongoing research</a>
            </p>
            <p>
                <a href="#!" class="text-reset">Publication</a>
            </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Committees
            </h6>
            <p>
                <a href="#!" class="text-reset">1st committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">2nd committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">3rd committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">4th committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">5th committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">6th committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">7th committee</a>
            </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
            <p>
                <i class="fas fa-envelope me-3 text-secondary"></i>
                info@example.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2023 All rights reserved.
        <a class="text-reset fw-bold" href="">Neuromer.</a>
    </div>
    </div>

    <!-- Copyright -->
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>


  </body>
</html>
